.lasthitMain {
    width: 100%;
    height: 100%;
}

#lasthitItemsGrid {
    flow-children: right-wrap;
    overflow: squish scroll;
    margin-top: 6px;
}

.lasthitItemButton {
    width: 64px;
    height: 64px;
    margin: 4px;
    padding: 3px;
    saturation: 0;
    border: 1px solid #212121;
    transition-property: border, background-color, saturation;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.lasthitItemButton:enabled:hover {
    border: 1px solid #ADD9E6;
}

.lasthitItemButton:enabled:selected {
    saturation: 1;
    border: 1px solid #ADD9E6;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), color-stop( 0.00156, #FFFFFF ), to( #8EBDCB ) );
}

.lasthitItemImage {
    width: 48px;
    height: 36px;
    horizontal-align: center;
    vertical-align: top;
}

.lasthitItemCostLabel {
    horizontal-align: center;
    vertical-align: bottom;
    color: #ffdf80;
    font-size: 11px;
}

#lasthit_popup_container {
    width: 100%;
    height: 100%;
    background-color: #212121d2;
    opacity: 0;
    visibility: collapse;
}

#lasthitHud {
    horizontal-align: right;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    background-color: #21212199;
    border: 1px solid #8EBDCB;
}

.lasthitGoodValue {
    color: #8EE6A0;
    font-weight: bold;
}

.lasthitBadValue {
    color: #E68E8E;
    font-weight: bold;
}
